<div class="homepage-event-card" style="width: 18rem;">
  <div class="event-card-body">
    <h5 class="card-title event-card-title"><%= @latest_event.title %></h5>
    <h6 class="event-card-date"><%= @latest_event.event_date %></h6>
    <p class="card-text"><%= @latest_event.content %></p>
    <div class="event-card-footer">Location here</div>
  </div>
</div>